<section
id="rh-banner-attachment-parallax"
class="rh_banner rh_banner__image"
style="
  background-image: url('/frontend/wp-content/uploads/2017/10/banner.jpg');
"
>
<div class="rh_banner__cover"></div>
<div class="rh_banner__wrap">
  <h1 class="rh_banner__title"><%= screenname%></h1>
  <div class="rh_banner__controls">
    <div class="rh_view_type">
   
      <a class="list active" href="#">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="18"
          height="18"
          viewBox="0 0 18 18"
        >
          <path
            id="menu"
            d="M1539.01,1029a1.958,1.958,0,0,1,1.99,1.99,2.067,2.067,0,0,1-1.99,2.01A2,2,0,1,1,1539.01,1029Zm5.99,0h8a2,2,0,0,1,0,4h-8A2,2,0,0,1,1545,1029Zm-5.99,7a1.958,1.958,0,0,1,1.99,1.99,2.067,2.067,0,0,1-1.99,2.01A2,2,0,1,1,1539.01,1036Zm5.99,0h8a2.006,2.006,0,0,1,2,2h0a2.006,2.006,0,0,1-2,2h-8a2.006,2.006,0,0,1-2-2h0A2.006,2.006,0,0,1,1545,1036Zm-5.99,7a1.958,1.958,0,0,1,1.99,1.99,2.067,2.067,0,0,1-1.99,2.01A2,2,0,1,1,1539.01,1043Zm5.99,0h8a2.006,2.006,0,0,1,2,2h0a2.006,2.006,0,0,1-2,2h-8a2.006,2.006,0,0,1-2-2h0A2.006,2.006,0,0,1,1545,1043Z"
            transform="translate(-1537 -1029)"
          />
        </svg>
      </a>
    </div>
    <!-- /.rh_view_type -->
  </div>
</div>
</section>