<section
  class="elementor-section elementor-top-section elementor-element elementor-element-416b3928 elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default"
  data-id="416b3928"
  data-element_type="section"
  data-settings='{"stretch_section":"section-stretched","shape_divider_bottom":"tilt"}'
>
  <div class="elementor-shape elementor-shape-bottom" data-negative="false">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1000 100"
      preserveAspectRatio="none"
    >
      <path class="elementor-shape-fill" d="M0,6V0h1000v100L0,6z" />
    </svg>
  </div>
  <div class="elementor-container elementor-column-gap-no">
    <div class="elementor-row">
      <div
        class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-4d38dc06"
        data-id="4d38dc06"
        data-element_type="column"
      >
        <div class="elementor-column-wrap elementor-element-populated">
          <div class="elementor-widget-wrap">
            <div
              class="elementor-element elementor-element-6949035 elementor-widget elementor-widget-rhea-properties-widget-2"
              data-id="6949035"
              data-element_type="widget"
              data-widget_type="rhea-properties-widget-2.default"
            >
              <div class="elementor-widget-container">
                <section
                  id="rh-6949035"
                  class="rh_elementor_widget rhea_ele_property_ajax_target rhea_latest_properties_ajax rhea_has_tooltip"
                >
                  <div class="home-properties-section-inner-target">
                    <div
                      class="rh_properties_pagination_append rhea_latest_properties_2"
                    >
                      <!-- card content -->
                      <%- include('./card.ejs') -%>
                    </div>
                    <%- include('./loader_pagination.ejs') -%>

                    <!-- Loader -->
                    <!-- Pagination start -->
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
