<section
                    class="elementor-section elementor-top-section elementor-element elementor-element-da7a43f elementor-section-full_width elementor-section-height-default elementor-section-height-default"
                    data-id="da7a43f"
                    data-element_type="section"
                  >
                    <div class="elementor-container elementor-column-gap-no">
                      <div class="elementor-row">
                        <div
                          class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-f5732ca"
                          data-id="f5732ca"
                          data-element_type="column"
                        >
                          <div
                            class="elementor-column-wrap elementor-element-populated"
                          >
                            <div class="elementor-widget-wrap">
                              <div
                                class="elementor-element elementor-element-6fc0208 elementor-widget elementor-widget-ere-section-title-widget"
                                data-id="6fc0208"
                                data-element_type="widget"
                                data-widget_type="ere-section-title-widget.default"
                              >
                                <div class="elementor-widget-container">
                                  <div
                                    class="rh_elementor_widget re_section_head_elementor"
                                  >
                                    <span class="rh_section__subtitle"
                                      ><%= title %></span
                                    >

                                    <h2 class="rh_section__title"><%= sectionName %></h2>

                                    <p class="rh_section__desc">
                                        <%= description %>
                                    </p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
