<%- include('./include/head.ejs') -%>

    <main class="h-full overflow-y-auto">
        <div class="container px-6 mx-auto grid">
            <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
                Dashboard
            </h2>
            <div class="grid gap-6 mb-8 md:grid-cols-2 xl:grid-cols-4">
                <!-- Card -->
                <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
                    <div class="p-3 mr-4 text-orange-500 bg-orange-100 rounded-full dark:text-orange-100 dark:bg-orange-500">
                        <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
                    <path
                      d="M13 6a3 3 0 11-6 0 3 3 0 016 0zM18 8a2 2 0 11-4 0 2 2 0 014 0zM14 15a4 4 0 00-8 0v3h8v-3zM6 8a2 2 0 11-4 0 2 2 0 014 0zM16 18v-3a5.972 5.972 0 00-.75-2.906A3.005 3.005 0 0119 15v3h-3zM4.75 12.094A5.973 5.973 0 004 15v3H1v-3a3 3 0 013.75-2.906z"
                    ></path>
                  </svg>
                    </div>
                    <div>
                        <p class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400">
                            Total clients
                        </p>
                        <p class="text-lg font-semibold text-gray-700 dark:text-gray-200">
                            6389
                        </p>
                    </div>
                </div>
                <!-- Card -->
                <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
                    <div class="p-3 mr-4 text-green-500 bg-green-100 rounded-full dark:text-green-100 dark:bg-green-500">
                        <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
                    <path
                      fill-rule="evenodd"
                      d="M4 4a2 2 0 00-2 2v4a2 2 0 002 2V6h10a2 2 0 00-2-2H4zm2 6a2 2 0 012-2h8a2 2 0 012 2v4a2 2 0 01-2 2H8a2 2 0 01-2-2v-4zm6 4a2 2 0 100-4 2 2 0 000 4z"
                      clip-rule="evenodd"
                    ></path>
                  </svg>
                    </div>
                    <div>
                        <p class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400">
                            Private transorts
                        </p>
                        <p class="text-lg font-semibold text-gray-700 dark:text-gray-200">
                            $ 46,760.89
                        </p>
                    </div>
                </div>
                <!-- Card -->
                <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
                    <div class="p-3 mr-4 text-blue-500 bg-blue-100 rounded-full dark:text-blue-100 dark:bg-blue-500">
                        <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
                    <path
                      d="M3 1a1 1 0 000 2h1.22l.305 1.222a.997.997 0 00.01.042l1.358 5.43-.893.892C3.74 11.846 4.632 14 6.414 14H15a1 1 0 000-2H6.414l1-1H14a1 1 0 00.894-.553l3-6A1 1 0 0017 3H6.28l-.31-1.243A1 1 0 005 1H3zM16 16.5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zM6.5 18a1.5 1.5 0 100-3 1.5 1.5 0 000 3z"
                    ></path>
                  </svg>
                    </div>
                    <div>
                        <p class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400">
                            Public transport
                        </p>
                        <p class="text-lg font-semibold text-gray-700 dark:text-gray-200">
                            376
                        </p>
                    </div>
                </div>
                <!-- Card -->
                <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
                    <div class="p-3 mr-4 text-teal-500 bg-teal-100 rounded-full dark:text-teal-100 dark:bg-teal-500">
                        <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
                    <path
                      fill-rule="evenodd"
                      d="M18 5v8a2 2 0 01-2 2h-5l-5 4v-4H4a2 2 0 01-2-2V5a2 2 0 012-2h12a2 2 0 012 2zM7 8H5v2h2V8zm2 0h2v2H9V8zm6 0h-2v2h2V8z"
                      clip-rule="evenodd"
                    ></path>
                  </svg>
                    </div>
                    <div>
                        <p class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400">
                            Recent notification
                        </p>
                        <p class="text-lg font-semibold text-gray-700 dark:text-gray-200">
                            35
                        </p>
                    </div>
                </div>
            </div>
            <div class="content-wrapper">
                <!-- Content -->

                <div class="container-xxl flex-grow-1 container-p-y">
                    <div class="row">

                        <!-- Total Revenue -->
                        <div class="col-12 col-lg-8 order-2 order-md-3 order-lg-2 mb-4">
                            <div class="card">
                                <div class="row row-bordered g-0">
                                    <div class="col-md-8">
                                        <h5 class="card-header m-0 me-2 pb-3">Total Revenue</h5>
                                        <div id="totalRevenueChart" class="px-2"></div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="card-body">
                                            <div class="text-center">
                                                <div class="dropdown">
                                                    <button class="btn btn-sm btn-outline-primary dropdown-toggle" type="button" id="growthReportId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            2022
                          </button>
                                                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="growthReportId">
                                                        <a class="dropdown-item" href="javascript:void(0);">2021</a>
                                                        <a class="dropdown-item" href="javascript:void(0);">2020</a>
                                                        <a class="dropdown-item" href="javascript:void(0);">2019</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="growthChart"></div>
                                        <div class="text-center fw-semibold pt-3 mb-2">62% Company Growth</div>

                                        <div class="d-flex px-xxl-4 px-lg-2 p-4 gap-xxl-3 gap-lg-1 gap-3 justify-content-between">
                                            <div class="d-flex">
                                                <div class="me-2">
                                                    <span class="badge bg-label-primary p-2"><i class="bx bx-dollar text-primary"></i></span>
                                                </div>
                                                <div class="d-flex flex-column">
                                                    <small>2022</small>
                                                    <h6 class="mb-0">$32.5k</h6>
                                                </div>
                                            </div>
                                            <div class="d-flex">
                                                <div class="me-2">
                                                    <span class="badge bg-label-info p-2"><i class="bx bx-wallet text-info"></i></span>
                                                </div>
                                                <div class="d-flex flex-column">
                                                    <small>2021</small>
                                                    <h6 class="mb-0">$41.2k</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/ Total Revenue -->
                        <div class="col-12 col-md-8 col-lg-4 order-3 order-md-2">
                            <div class="row">
                                <div class="col-6 mb-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="card-title d-flex align-items-start justify-content-between">
                                                <div class="avatar flex-shrink-0">
                                                    <img src="../assets/img/icons/unicons/paypal.png" alt="Credit Card" class="rounded" />
                                                </div>
                                                <div class="dropdown">
                                                    <button class="btn p-0" type="button" id="cardOpt4" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="bx bx-dots-vertical-rounded"></i>
                          </button>
                                                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt4">
                                                        <a class="dropdown-item" href="javascript:void(0);">View More</a>
                                                        <a class="dropdown-item" href="javascript:void(0);">Delete</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <span class="d-block mb-1">Payments</span>
                                            <h3 class="card-title text-nowrap mb-2">$2,456</h3>
                                            <small class="text-danger fw-semibold"><i class="bx bx-down-arrow-alt"></i> -14.82%</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 mb-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="card-title d-flex align-items-start justify-content-between">
                                                <div class="avatar flex-shrink-0">
                                                    <img src="../assets/img/icons/unicons/cc-primary.png" alt="Credit Card" class="rounded" />
                                                </div>
                                                <div class="dropdown">
                                                    <button class="btn p-0" type="button" id="cardOpt1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="bx bx-dots-vertical-rounded"></i>
                          </button>
                                                    <div class="dropdown-menu" aria-labelledby="cardOpt1">
                                                        <a class="dropdown-item" href="javascript:void(0);">View More</a>
                                                        <a class="dropdown-item" href="javascript:void(0);">Delete</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <span class="fw-semibold d-block mb-1">Transactions</span>
                                            <h3 class="card-title mb-2">$14,857</h3>
                                            <small class="text-success fw-semibold"><i class="bx bx-up-arrow-alt"></i> +28.14%</small>
                                        </div>
                                    </div>
                                </div>
                                <!-- </div>
<div class="row"> -->
                                <div class="col-12 mb-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between flex-sm-row flex-column gap-3">
                                                <div class="d-flex flex-sm-column flex-row align-items-start justify-content-between">
                                                    <div class="card-title">
                                                        <h5 class="text-nowrap mb-2">Profile Report</h5>
                                                        <span class="badge bg-label-warning rounded-pill">Year 2021</span>
                                                    </div>
                                                    <div class="mt-sm-auto">
                                                        <small class="text-success text-nowrap fw-semibold"><i class="bx bx-chevron-up"></i> 68.2%</small
                            >
                            <h3 class="mb-0">$84,686k</h3>
                          </div>
                        </div>
                        <div id="profileReportChart"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <!-- Order Statistics -->
            <div class="col-md-6 col-lg-4 col-xl-4 order-0 mb-4">
              <div class="card h-100">
                <div class="card-header d-flex align-items-center justify-content-between pb-0">
                  <div class="card-title mb-0">
                    <h5 class="m-0 me-2">Order Statistics</h5>
                    <small class="text-muted">42.82k Total Sales</small>
                                                    </div>
                                                    <div class="dropdown">
                                                        <button class="btn p-0" type="button" id="orederStatistics" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="bx bx-dots-vertical-rounded"></i>
                    </button>
                                                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="orederStatistics">
                                                            <a class="dropdown-item" href="javascript:void(0);">Select All</a>
                                                            <a class="dropdown-item" href="javascript:void(0);">Refresh</a>
                                                            <a class="dropdown-item" href="javascript:void(0);">Share</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-body">
                                                    <div class="d-flex justify-content-between align-items-center mb-3">
                                                        <div class="d-flex flex-column align-items-center gap-1">
                                                            <h2 class="mb-2">8,258</h2>
                                                            <span>Total Orders</span>
                                                        </div>
                                                        <div id="orderStatisticsChart"></div>
                                                    </div>
                                                    <ul class="p-0 m-0">
                                                        <li class="d-flex mb-4 pb-1">
                                                            <div class="avatar flex-shrink-0 me-3">
                                                                <span class="avatar-initial rounded bg-label-primary"><i class="bx bx-mobile-alt"></i
                        ></span>
                                                            </div>
                                                            <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                                                <div class="me-2">
                                                                    <h6 class="mb-0">Electronic</h6>
                                                                    <small class="text-muted">Mobile, Earbuds, TV</small>
                                                                </div>
                                                                <div class="user-progress">
                                                                    <small class="fw-semibold">82.5k</small>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li class="d-flex mb-4 pb-1">
                                                            <div class="avatar flex-shrink-0 me-3">
                                                                <span class="avatar-initial rounded bg-label-success"><i class="bx bx-closet"></i></span>
                                                            </div>
                                                            <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                                                <div class="me-2">
                                                                    <h6 class="mb-0">Fashion</h6>
                                                                    <small class="text-muted">T-shirt, Jeans, Shoes</small>
                                                                </div>
                                                                <div class="user-progress">
                                                                    <small class="fw-semibold">23.8k</small>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li class="d-flex mb-4 pb-1">
                                                            <div class="avatar flex-shrink-0 me-3">
                                                                <span class="avatar-initial rounded bg-label-info"><i class="bx bx-home-alt"></i></span>
                                                            </div>
                                                            <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                                                <div class="me-2">
                                                                    <h6 class="mb-0">Decor</h6>
                                                                    <small class="text-muted">Fine Art, Dining</small>
                                                                </div>
                                                                <div class="user-progress">
                                                                    <small class="fw-semibold">849k</small>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li class="d-flex">
                                                            <div class="avatar flex-shrink-0 me-3">
                                                                <span class="avatar-initial rounded bg-label-secondary"><i class="bx bx-football"></i
                        ></span>
                                                            </div>
                                                            <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                                                <div class="me-2">
                                                                    <h6 class="mb-0">Sports</h6>
                                                                    <small class="text-muted">Football, Cricket Kit</small>
                                                                </div>
                                                                <div class="user-progress">
                                                                    <small class="fw-semibold">99</small>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/ Order Statistics -->

                                        <!-- Expense Overview -->
                                        <div class="col-md-6 col-lg-4 order-1 mb-4">
                                            <div class="card h-100">
                                                <div class="card-header">
                                                    <ul class="nav nav-pills" role="tablist">
                                                        <li class="nav-item">
                                                            <button type="button" class="nav-link active" role="tab" data-bs-toggle="tab" data-bs-target="#navs-tabs-line-card-income" aria-controls="navs-tabs-line-card-income" aria-selected="true">
                        Income
                      </button>
                                                        </li>
                                                        <li class="nav-item">
                                                            <button type="button" class="nav-link" role="tab">Expenses</button>
                                                        </li>
                                                        <li class="nav-item">
                                                            <button type="button" class="nav-link" role="tab">Profit</button>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="card-body px-0">
                                                    <div class="tab-content p-0">
                                                        <div class="tab-pane fade show active" id="navs-tabs-line-card-income" role="tabpanel">
                                                            <div class="d-flex p-4 pt-3">
                                                                <div class="avatar flex-shrink-0 me-3">
                                                                    <img src="../assets/img/icons/unicons/wallet.png" alt="User" />
                                                                </div>
                                                                <div>
                                                                    <small class="text-muted d-block">Total Balance</small>
                                                                    <div class="d-flex align-items-center">
                                                                        <h6 class="mb-0 me-1">$459.10</h6>
                                                                        <small class="text-success fw-semibold">
                              <i class="bx bx-chevron-up"></i>
                              42.9%
                            </small>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div id="incomeChart"></div>
                                                            <div class="d-flex justify-content-center pt-4 gap-2">
                                                                <div class="flex-shrink-0">
                                                                    <div id="expensesOfWeek"></div>
                                                                </div>
                                                                <div>
                                                                    <p class="mb-n1 mt-1">Expenses This Week</p>
                                                                    <small class="text-muted">$39 less than last week</small>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/ Expense Overview -->

                                        <!-- Transactions -->
                                        <div class="col-md-6 col-lg-4 order-2 mb-4">
                                            <div class="card h-100">
                                                <div class="card-header d-flex align-items-center justify-content-between">
                                                    <h5 class="card-title m-0 me-2">Transactions</h5>
                                                    <div class="dropdown">
                                                        <button class="btn p-0" type="button" id="transactionID" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="bx bx-dots-vertical-rounded"></i>
                    </button>
                                                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="transactionID">
                                                            <a class="dropdown-item" href="javascript:void(0);">Last 28 Days</a>
                                                            <a class="dropdown-item" href="javascript:void(0);">Last Month</a>
                                                            <a class="dropdown-item" href="javascript:void(0);">Last Year</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-body">
                                                    <ul class="p-0 m-0">
                                                        <li class="d-flex mb-4 pb-1">
                                                            <div class="avatar flex-shrink-0 me-3">
                                                                <img src="../assets/img/icons/unicons/paypal.png" alt="User" class="rounded" />
                                                            </div>
                                                            <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                                                <div class="me-2">
                                                                    <small class="text-muted d-block mb-1">Paypal</small>
                                                                    <h6 class="mb-0">Send money</h6>
                                                                </div>
                                                                <div class="user-progress d-flex align-items-center gap-1">
                                                                    <h6 class="mb-0">+82.6</h6>
                                                                    <span class="text-muted">USD</span>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li class="d-flex mb-4 pb-1">
                                                            <div class="avatar flex-shrink-0 me-3">
                                                                <img src="../assets/img/icons/unicons/wallet.png" alt="User" class="rounded" />
                                                            </div>
                                                            <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                                                <div class="me-2">
                                                                    <small class="text-muted d-block mb-1">Wallet</small>
                                                                    <h6 class="mb-0">Mac'D</h6>
                                                                </div>
                                                                <div class="user-progress d-flex align-items-center gap-1">
                                                                    <h6 class="mb-0">+270.69</h6>
                                                                    <span class="text-muted">USD</span>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li class="d-flex mb-4 pb-1">
                                                            <div class="avatar flex-shrink-0 me-3">
                                                                <img src="../assets/img/icons/unicons/chart.png" alt="User" class="rounded" />
                                                            </div>
                                                            <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                                                <div class="me-2">
                                                                    <small class="text-muted d-block mb-1">Transfer</small>
                                                                    <h6 class="mb-0">Refund</h6>
                                                                </div>
                                                                <div class="user-progress d-flex align-items-center gap-1">
                                                                    <h6 class="mb-0">+637.91</h6>
                                                                    <span class="text-muted">USD</span>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li class="d-flex mb-4 pb-1">
                                                            <div class="avatar flex-shrink-0 me-3">
                                                                <img src="../assets/img/icons/unicons/cc-success.png" alt="User" class="rounded" />
                                                            </div>
                                                            <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                                                <div class="me-2">
                                                                    <small class="text-muted d-block mb-1">Credit Card</small>
                                                                    <h6 class="mb-0">Ordered Food</h6>
                                                                </div>
                                                                <div class="user-progress d-flex align-items-center gap-1">
                                                                    <h6 class="mb-0">-838.71</h6>
                                                                    <span class="text-muted">USD</span>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li class="d-flex mb-4 pb-1">
                                                            <div class="avatar flex-shrink-0 me-3">
                                                                <img src="../assets/img/icons/unicons/wallet.png" alt="User" class="rounded" />
                                                            </div>
                                                            <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                                                <div class="me-2">
                                                                    <small class="text-muted d-block mb-1">Wallet</small>
                                                                    <h6 class="mb-0">Starbucks</h6>
                                                                </div>
                                                                <div class="user-progress d-flex align-items-center gap-1">
                                                                    <h6 class="mb-0">+203.33</h6>
                                                                    <span class="text-muted">USD</span>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li class="d-flex">
                                                            <div class="avatar flex-shrink-0 me-3">
                                                                <img src="../assets/img/icons/unicons/cc-warning.png" alt="User" class="rounded" />
                                                            </div>
                                                            <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                                                <div class="me-2">
                                                                    <small class="text-muted d-block mb-1">Mastercard</small>
                                                                    <h6 class="mb-0">Ordered Food</h6>
                                                                </div>
                                                                <div class="user-progress d-flex align-items-center gap-1">
                                                                    <h6 class="mb-0">-92.45</h6>
                                                                    <span class="text-muted">USD</span>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/ Transactions -->
                                    </div>
                                </div>

                                <!-- / Content -->

                                <!-- Footer -->

                                <!-- / Footer -->

                                <div class="content-backdrop fade"></div>
                            </div>
                            <!-- Charts -->

                        </div>
    </main>
    </div>
    </div>
    <script src="../assets/vendor/libs/jquery/jquery.js"></script>
    <script src="../assets/vendor/libs/popper/popper.js"></script>
    <script src="../assets/vendor/js/bootstrap.js"></script>
    <script src="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="../assets/vendor/js/menu.js"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->
    <script src="../assets/vendor/libs/apex-charts/apexcharts.js"></script>

    <!-- Main JS -->
    <script src="../assets/js/main.js"></script>

    <!-- Page JS -->
    <script src="../assets/js/dashboards-analytics.js"></script>

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    </body>

    </html>