<%- include('./include/head.ejs') -%>


    <!-- Single pro tab review Start-->
    <div class="single-pro-review-area mt-t-30 mg-b-15" style="margin-top:20px">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="product-payment-inner-st">
                        <ul id="myTabedu1" class="tab-review-design">
                            <li class="active"><a href="#description">Rc Information</a></li>
                            <li><a href="#reviews"> Important dates</a></li>
                        </ul>
                        <div id="myTabContent" class="tab-content custom-product-edit">
                            <div class="product-tab-list tab-pane fade active in" id="description">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="review-content-section">
                                            <div id="dropzone1" class="pro-ad">
                                                <form action="/upload">
                                                    <div class="row">
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                            <label for="">Owner's name</label>
                                                            <div class="form-group">
                                                                <input name="firstname" type="text" class="form-control" placeholder="Full Name" required>
                                                            </div>
                                                            <label for="">Owner's Address</label>

                                                            <div class="form-group">
                                                                <input name="address" type="text" class="form-control" placeholder="Address">
                                                            </div>
                                                            <label for="">Owner's Mobile number</label>

                                                            <div class="form-group">
                                                                <input name="mobileno" type="number" class="form-control" placeholder="Mobile no." required>
                                                            </div>
                                                            <label for="">Rc number</label>
                                                            <div class="form-group">
                                                                <input name="department" type="text" class="form-control" placeholder="Rc Number">
                                                            </div>

                                                            <!-- <div class="form-group">
                                                                <input name="postcode" id="postcode" type="text" class="form-control" placeholder="Postcode">
                                                            </div> -->

                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                            <label for="">Rc Expiriy</label>

                                                            <div class="form-group">
                                                                <input name="rcexpiry" type="date" class="form-control" placeholder="Validity">
                                                            </div>
                                                            <label for="">Vehicle number</label>

                                                            <div class="form-group">
                                                                <input name="department" type="text" class="form-control" placeholder="Vehicle Number" required>
                                                            </div>
                                                            <label for="">Vehicle Type</label>

                                                            <div class="form-group">
                                                                <select name="gender" class="form-control">
																		<option value="none" selected="" disabled="">Vehicle Type</option>
																		<option value="0">Public transport</option>
																		<option value="1">Private transport</option>
																	</select>
                                                            </div>
                                                            <label for="">Vehicle name & model</label>
                                                            <div class="form-group">
                                                                <input name="department" type="text" class="form-control" placeholder="Vehicle name">
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <div class="payment-adress">
                                                                <button type="submit" class="btn btn-primary waves-effect waves-light floatright" style="height: 50px;width:150px;">Submit</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-tab-list tab-pane fade" id="reviews">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="review-content-section">
                                            <div class="row">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <form id="acount-infor" action="#" class="acount-infor">
                                                        <div class="row">
                                                            <div class="formelements">
                                                                <div class="row">
                                                                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                                                        <label for="">Service Name</label>

                                                                        <div class="form-group">
                                                                            <input name="rcexpiry" type="text" class="form-control" placeholder="eg: Insurance">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                                                        <label for="">Service Expiriy</label>

                                                                        <div class="form-group">
                                                                            <input name="rcexpiry" type="date" class="form-control" placeholder="Validity">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                                                        <label for="">Notice</label>

                                                                        <div class="form-group">
                                                                            <input name="rcexpiry" type="text" class="form-control" placeholder="Notice">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">

                                                                        <br>

                                                                        <button type="submit" class="btn btn-success waves-effect waves-light" style="height: 40px;width:150px;background-color:rgb(209, 24, 17);">Delete service</button>
                                                                    </div>

                                                                </div>
                                                            </div>


                                                            <div class="col-lg-12">
                                                                <div class="payment-adress">
                                                                    <button type="submit" class="btn btn-primary waves-effect waves-light floatright" style="height: 50px;width:150px;margin-left: 20px;">Submit</button>
                                                                </div>
                                                                <div class="payment-adress">
                                                                    <button type="submit" class="btn btn-success waves-effect waves-light floatright" style="height: 50px;width:150px;background-color:darkcyan;">Add new service</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>

    <!-- jquery
		============================================ -->
    <script src="js/vendor/jquery-1.12.4.min.js"></script>
    <!-- bootstrap JS
		============================================ -->
    <script src="js/bootstrap.min.js"></script>
    <!-- wow JS
		============================================ -->
    <script src="js/wow.min.js"></script>
    <!-- price-slider JS
		============================================ -->
    <script src="js/jquery-price-slider.js"></script>
    <!-- meanmenu JS
		============================================ -->
    <script src="js/jquery.meanmenu.js"></script>
    <!-- owl.carousel JS
		============================================ -->
    <script src="js/owl.carousel.min.js"></script>
    <!-- sticky JS
		============================================ -->
    <script src="js/jquery.sticky.js"></script>
    <!-- scrollUp JS
		============================================ -->
    <script src="js/jquery.scrollUp.min.js"></script>
    <!-- mCustomScrollbar JS
		============================================ -->
    <script src="js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="js/scrollbar/mCustomScrollbar-active.js"></script>
    <!-- metisMenu JS
		============================================ -->
    <script src="js/metisMenu/metisMenu.min.js"></script>
    <script src="js/metisMenu/metisMenu-active.js"></script>
    <!-- morrisjs JS
		============================================ -->
    <script src="js/sparkline/jquery.sparkline.min.js"></script>
    <script src="js/sparkline/jquery.charts-sparkline.js"></script>
    <!-- calendar JS
		============================================ -->
    <script src="js/calendar/moment.min.js"></script>
    <script src="js/calendar/fullcalendar.min.js"></script>
    <script src="js/calendar/fullcalendar-active.js"></script>
    <!-- maskedinput JS
		============================================ -->
    <script src="js/jquery.maskedinput.min.js"></script>
    <script src="js/masking-active.js"></script>
    <!-- datepicker JS
		============================================ -->
    <script src="js/datepicker/jquery-ui.min.js"></script>
    <script src="js/datepicker/datepicker-active.js"></script>
    <!-- form validate JS
		============================================ -->
    <script src="js/form-validation/jquery.form.min.js"></script>
    <script src="js/form-validation/jquery.validate.min.js"></script>
    <script src="js/form-validation/form-active.js"></script>
    <!-- dropzone JS
		============================================ -->
    <script src="js/dropzone/dropzone.js"></script>
    <!-- tab JS
		============================================ -->
    <script src="js/tab.js"></script>
    <!-- plugins JS
		============================================ -->
    <script src="js/plugins.js"></script>
    <!-- main JS
		============================================ -->
    <script src="js/main.js"></script>
    <!-- tawk chat JS
		============================================ -->
    </body>

    </html>