<%- include('./include/head.ejs') -%>

    <main class="h-full pb-16 overflow-y-auto">
        <div class="container grid px-6 mx-auto">
            <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
            </h2>
            <!-- CTA -->


            <!-- With avatar -->

            <!-- With actions -->
            <h4 class="mb-4 text-lg font-semibold text-gray-600 dark:text-gray-300">
                List of services
            </h4>



            <div class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800">

                <form action="/services" method="POST" id="serviceform">
                    <div class="row">
                        <div class="col-md-4 col-sm-12 col-lg-5 col-12">
                            <label class="block text-sm">
                  <span class="text-gray-700 dark:text-gray-400">Service Name</span>
                 
                  <input
                    class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                    placeholder="Service Name"
                    name="name"
                    id="servicename"
                    required
                  />
                </label>
                        </div>
                        <div class="col-md-4 col-sm-12 col-lg-4 col-12">
                            <label class="block text-sm">
                  <span class="text-gray-700 dark:text-gray-400">Service Validity</span>
                  <input
                    class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                    placeholder="Service Validity"
                    name="validity"
                    id="servicevalidity"
                    
                  />
                </label>
                        </div>
                        <div class="col-md-4 col-sm-12 col-lg-3 col-12">

                            <Button style="width: 100%;height: 40px;background-color: rgb(64, 180, 64);margin-top: 22px;border-radius: 10px;color: #fff;" type="submit" form="serviceform">Add Service</Button>


                        </div>
                    </div>

                </form>

                <table class="w-full whitespace-no-wrap mt-8" id="servicetable">
                    <thead>
                        <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
                            <th class="px-4 py-3">Service Name</th>
                            <th class="px-4 py-3">Maximum Validity</th>
                            <th class="px-4 py-3">Nearby Expiries</th>
                            <th class="px-4 py-3">Pending Enquiries</th>
                            <th class="px-4 py-3">Actions</th>
                        </tr>
                    </thead>
                    <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800" id="tableBody">
                        <% for (let doc of docs){ %>
                            <tr>
                                <td class="px-4 py-3">
                                    <div class="flex items-center text-sm">
                                        <p class="font-semibold">
                                            <%=doc.name%>
                                        </p>
                                    </div>
                                </td>
                                <td class="px-4 py-3 text-sm">
                                    <%=doc.validity%>
                                </td>
                                <td class="px-4 py-3 text-sm">
                                </td>
                                <td class="px-4 py-3 text-sm">
                                </td>
                                <td class="px-4 py-3">
                                    <div class="flex items-center space-x-4 text-sm"><button class="flex items-center justify-between px-2 py-2 text-sm font-medium leading-5 text-purple-600 rounded-lg dark:text-gray-400 focus:outline-none focus:shadow-outline-gray" aria-label="Delete" onclick="deleteraw(this.parentNode.parentNode.parentNode)"><svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"clip-rule="evenodd"></path></svg></button></div>
                                </td>
                            </tr>
                            <% } %>

                    </tbody>
                </table>



            </div>
        </div>
    </main>
    </div>
    </div>
    <script>
        function deleteraw(x) {
            document.getElementById("servicetable").deleteRow(x.rowIndex);

        }
    </script>

    </body>

    </html>